
/* Your CSS Code here. */
            /* prevent shrinking */
.holder {
  display: flex;
  flex-wrap: wrap;              /* allows items to move to next row */
  justify-content: space-between; /* first & last touch edges */
}

.item {
  flex: 0 0 auto;               /* prevents shrinking */
}